DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=ql_tro

APP_ENV=local
ENABLE_PAYMENT_SIMULATION=false

PUBLIC_BASE_URL=http://localhost/ql_tro

PAYOS_CLIENT_ID=YOUR_PAYOS_CLIENT_ID
PAYOS_API_KEY=YOUR_PAYOS_API_KEY
PAYOS_CHECKSUM_KEY=YOUR_PAYOS_CHECKSUM_KEY
